* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #ddd;
}

body {
	background-color: #fff;
	width: 980px;
	height: 1386px;
	margin: 2px 44px 44px 2px;
	box-shadow:2px 2px 3px #aaa, 
	-2px -2px 3px #aaa, 
	-2px -2px 3px #aaa, 
	-2px -2px 3px #aaa;

	margin-left: auto;
	margin-right: auto;
}

body > * {
	margin-left: 44px;
	margin-right: 44px;
}

header {
	height: 61px;
	border-bottom: 2px #938e8c solid;
	overflow: hidden;
}

header > div {
	font-family: "SimHei";
	font-size: 12px;
	padding-top: 44px;
}

footer {
	position: absolute;
	width: 892px;
	height: 86px;
	top: 1300px;
	clear: both;
	border-top: 1px #938e8c solid;
}

footer > span {
	float: right;
	font-family: "SimHei";
	font-size: 12px;
	color: #d45d5c;
}

div.title {
	float: left;
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	color: #fff;
	text-align: left;
}

header span {
	margin-left: 40px;
}

div.time {
	float: right;
	color: #d45d5c;
}

section.top {
	margin-top: 30px;
	/*height: 301px;*/
	overflow: auto;
}

section.middle {
	width: 620px;
	position: relative;
	text-align: left;
	clear: both;
	margin-top: 30px;
	font-family: "SimSun";
}

section.bottom {
	margin-top: 40px;
}

section.middle article {
	display: inline-block;
}

section.bottom article {
	margin-left: 6px;
}

article.what {
	float: left;
}

article.when {
	margin-left: 28px;
}

article.how {
	float: right;
}

article.how span {
	color: #cd4a48;
	font-style: italic;
}

article.how span, p.ratio, .middle h2 {
	font-family: "Microsoft YaHei";
}

.middle p {
	font-size: 12px;
	color: #231815;
	line-height: 16px;
	opacity: 0.7;
}

article.what p{
	opacity: 1;
}

article.how p {
	line-height: 21px;
}

article.what h2{
	color: #418c59;
}

article.when h2{
	color: #d2994f;
}

article.how h2{
	color: #cc7680;
}

.bigimg {
	float: left;
	width: 641px;
	height: 301px;
	background: url(../../../img/task06/pic1.jpg);
}

.bigimg div {
	width: 191px;
	height: 301px;
}

.bigimg div:first-child {
	float: left;
	background-color: #428c59;
	opacity: 0.5;
}

.bigimg div:last-child {
	float: right;
	background-color: #cd7681;
	opacity: 0.5;
}

.about {
	position: relative;
	float: right;
	width: 203px;
	height: 301px;
	border-top: 2px #cc8091 solid;
	font-family: "Microsoft YaHei";
	text-align: left;
	overflow: hidden;
}

p.title {
	color: #000;
	font-size: 24px; 
	line-height: 40px;
	text-decoration: underline;
	font-variant: small-caps;
}

p.little {
	font-size: 12px;
	color: #676737;
	line-height: 10px;
	font-family: "KaiTi";
}

p.bignum {
	color: #75b86b;
	font-size: 116px;
	font-style: oblique;
	margin-left: -20px;
}

p.smallnum {
	color: #cc8091;
	font-size: 55px;
	position: absolute;
	bottom: -10px;
}

.css {
	position: absolute;
	bottom: 0;
	left: 85px;
}

.css span {
	display: block;
	line-height: 15px;
}

.css span:first-child {
	color: #cc8091;
	font-size: 21px;
}

.css span:last-child {
	color: #938e8c;
	font-size: 12px;
}

.middle h2 {
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 5px;
}

p.p1:first-letter {
	color: #f5e327;
	font-size: 70px;
	font-family: "Microsoft YaHei";
	margin-right: 2px; 

	float: left;
	line-height: 70px;
}

div.left article p {
	font-size: 12px;
	font-family: "SimSun";
	color: #767777;
	line-height: 16px;
}

span.the {
	font-size: 72px;
	font-style: oblique;
	color: #f5e327;
}

p.tech {
	display: inline;
	font-size: 42px;
	color: #11456b;
}

div.left {
	float: left;
	width: 415px;
}

div.right {
	float: right;
}

div.ttof {
	border-bottom: 2px #11456b solid;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

span.the, p.tech {
	font-weight: bold;
	font-family: "SimHei";
}

div.ttof p:last-child {
	font-size: 33px;
}

div.blm {
	overflow: auto;
}

div.blm div:first-child {
	float: left;
}

div.blm p {
	width: 18em;
}


div.blm div:last-child {
	float: right;
	margin-right: 4px;
	margin-top: 15px;
}

p.p2 {
	text-indent: 2em;
}

div.pic2 {
	margin-top: 15px;
	position: relative;
	width: 458px;
	height: 257px;
	background: url(../../../img/task06/pic2.jpg) no-repeat;
}

div.pic2 > div {
	height: 61px;
	width: 458px;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	bottom: 0;
}

div.pictext {
	font-family: "Microsoft YaHei";
	font-size: 26px;
	color: #fff;
	border-left: 3px #72b16a solid;
	padding-left: 15px;
	margin-left: 35px;

	position: absolute;
	top: 50%;
	margin-top: -17.5px;
}

div.pictext span {
	font-size: 15px;
	font-style: oblique;
	color: #72b16a;
	letter-spacing: 2px;

}

div.right li {
	list-style-image: url(../../../img/task06/icon.png);
	line-height: 20px;
	font-size: 16px;
	color: #5a5b5b;
}

div.right li span {
	font-size: 12px;
	font-style: oblique;
}

div.right ul {
	position: absolute;
	top: 25px;
	left: 50px;
}

div.right > div:last-child {
	position: relative;
	width: 459px;
	height: 318px;
	margin-top: 33px;
	background-color: #eeedd6;
	/*padding: 40px 20px 20px 50px;*/
	/*overflow: auto;*/
}

div.stamp {
	position: absolute;
	left: 0;
	bottom: 0;
	font-family: "SimHei";
	color: #fff;
	background-color: #d45d5c;
	width: 260px;
	height: 160px;
}

div.stamp > span {
	position: absolute;
	top: 50%;
	margin-top: -72.5px;
	left: 10px;
	font-size: 110px;
	font-family: "Microsoft YaHei";
	vertical-align: middle;
}

div.stamp >div:last-child {
	position: absolute;
	top: 50%;
	margin-top: -38px;
	right: 15px;
	font-size: 12px;
	border-left: 2px #fff solid;
	padding-left: 10px;
}

span.num {
	display: block;
	font-size: 21px;
	line-height: 24px;
	font-family: "SimHei";
	font-style: oblique;
}

div.lastdiv {
	position: absolute;
	right: 0;
	bottom: 40px;
	width: 190px;
	font-family: "SimHei";
}

p.lastp {
	font-size: 14px;
	font-style: oblique;
	line-height: 16px;
	text-indent: 3em;
}

p.lastp span {
	font-size: 72px;
	color: #d45d5c;
	font-style: normal;
}

span.quote1 {
	position: absolute;
	top: 15px;
	right: 155px;
}

span.quote2 {
	position: absolute;
	bottom: -25px;
	right: -12px;
}