* {
	margin: 0;
	padding: 0;
}

body {
	width: 980px;
	height: 1386px;
	margin: 2px 44px 44px 2px;
	box-shadow:2px 2px 3px #aaa, 
	-2px -2px 3px #aaa, 
	-2px -2px 3px #aaa, 
	-2px -2px 3px #aaa;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body > * {
	margin-left: 44px;
	margin-right: 44px;
}

header {
	height: 61px;
	border-bottom: 2px #938e8c solid;
	overflow: hidden;
}

header > div {
	font-family: "SimHei";
	font-size: 12px;
	padding-top: 44px;
}

div.title {
	float: left;
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	color: #fff;
	text-align: left;
}

header span {
	margin-left: 10px;
}

div.time {
	float: right;
	color: #d45d5c;
}

div.headline {
	margin-top: 40px;
}

.bigimg {
	width: 641px;
	height: 301px;

	background-color: #ddd;
	background: url(../../../img/task06/pic1.jpg);
}